.bg-light{
    background-color: #69a6e2!important;
}

body {
    background-color: white;
}

.btn-primary {
    color: #fff;
    background-color: black;
    border-color: black;
}

.card-text{
    color: red;
}

.text-lg-start{
    background-color: #69a6e2!important;
}